@import '../variables.scss';

.nav-container {
    position: relative;
    background-color: $primaryBlueDark;
    line-height: 61px;
    .wrapper {
        position: relative;
        width: 85%;
        margin: auto;

        .branding {
            position: relative;
            display: inline-block;
            margin-left: 3%;
            width:25%;
            .brand_logo {
                width: 50px;
                display: inline-block;
                vertical-align: middle;
            }

            .brand_text {
                @extend %brand_text;
                color: $primaryWhite;  
                margin-left: 9px;
                display: inline;
                vertical-align: middle;
            }
        }

        .menu-container {
            position: relative;
            display: inline-block;
            list-style-type: none;
            margin-left: 10%;
            width: 60%;
            height: 100%;
            .items {
                
                .nav_link {

                    position: relative;
                    display: inline-block;
                    width: 20%;
                    font-weight: 500;
                    text-align: center;
                    color: $primaryWhite;
                    text-transform: uppercase;

                    &:hover {
                        color: $primaryBlueGreenLight;
                        cursor: pointer;
                        font-weight: 600;
                        font-size: 18px;
                        transition-duration: 0.2s;
                        text-decoration-line: none;
                    }
                }
            }
        }
    }
}