.login_wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: blue;
    background-image: linear-gradient(-169deg,#00d6bd 2%,#42e6f5 35%, red);

    .login_box {
        position: absolute;
        width: 70%;
        left: 50%;
        top: 40%;
        transform: translate(-50%,-50%);
        border-radius: 15px;
        background-color: #ebebe0;
        padding: 5px 20px;
        text-align: center;

        
        h1 {
            font-size: 69px;
            display: block;
            text-align: center;
            margin: 15px 0 0;
        }

        .login_info_container {
            text-align: center;

            .login_info {
                display: block;

                p {
                    display: inline-block;
                    margin: 5%;
                    font-size: 19px;
                    font-weight: 500;
                }

                input {
                    display: inline-block;
                    width: 50%;
                    height: 22px;
                    border: 3px solid white;
                    border-radius: 5px; 
                }
            }
        }

        button {
            margin-bottom: 9px;
            background-color: #6059f6;
            width: 100px;
            height: 35px;
            font-size: 20px;
            color: white;
            border: none;
            border-radius: 5px;

            &:hover {
                background-color: #201aa3;
                color: white;
                cursor: pointer;
            }
        }
    }
}