# Docker Compose file Reference (https://docs.docker.com/compose/compose-file/)

version: '3'

# Define services
services:
  # App backend service
  backend-server:
    # Configuration for building the docker image for the backend service
    build:
      context: ../proman # Use an image built from the specified dockerfile in the `proman` directory.
      dockerfile: Dockerfile
    ports:
      - "1600:8080" # Forward the exposed port 8080 on the container to port 8080 on the host machine
    restart: always
    depends_on: 
      - database # This service depends on mysql. Start that first.
    environment: # Pass environment variables to the service
      SPRING_DATASOURCE_URL: jdbc:mysql://database:3306/promanDB?useSSL=false&serverTimezone=UTC&useLegacyDatetimeCode=false
      SPRING_DATASOURCE_USERNAME: proman
      SPRING_DATASOURCE_PASSWORD: proman     
    networks: # Networks to join (Services on the same network can communicate with each other using their name)
      - backend
    #   - frontend

  # # Frontend Service 
  # frontend-client:
  #   build:
  #     context: polling-frontend-client # Use an image built from the specified dockerfile in the `polling-frontend-client` directory.
  #     dockerfile: Dockerfile
  #     args:
  #       REACT_APP_API_BASE_URL: http://127.0.0.1:8080
  #   ports:
  #     - "9090:3000" # Map the exposed port 80 on the container to port 9090 on the host machine
  #   restart: always
  #   depends_on:
  #     - backend-server
  #   networks:
  #     - frontend  

  # Database Service (Mysql)
  database:
    image: mysql:8.0
    ports:
      - "33306:3306"
    restart: always
    environment:
      MYSQL_DATABASE: promanDB
      MYSQL_USER: proman  
      MYSQL_PASSWORD: proman
      MYSQL_ROOT_PASSWORD: 
    volumes:
      - database-data:/var/lib/mysql
    networks:
      - backend
      - migration  
  
  migration:
    build:
      context: ./migration # Use an image built from the specified dockerfile in the `proman` directory.
      dockerfile: Dockerfile
    volumes:
      - ./migration:/docker-entrypoint-migrations.d
    depends_on:
      - backend-server
    links:
      - database
    environment:
      MYSQL_HOST: database
      MYSQL_PORT: 3306
      MYSQL_DATABASE: promanDB
      MYSQL_USER: proman
      MYSQL_PASSWORD: proman
    networks:
      - migration  
# Volumes
volumes:
  database-data:

# # Networks to be created to facilitate communication between containers
networks:
  backend:
  migration:
#   frontend:    
