$primaryBlueDark: #2a3e52;
$primaryBlueLighter: #3e5770;
$primaryBlueGrey: #1a252f;
$primaryBlueGreenLight: #1abc9c;
$primaryWhite: #ffffff;

%brand_text {
    font-size: 25px;
    font-weight: 700;
}